.about
  .aboutNav
    list-style none
    display flex
    justify-content space-between
    padding 0
    // box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    .aboutNavItem
      width 12.5%
      background:
      radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
      radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
      radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
      radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
      radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
      radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
      radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
      radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
      linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
      linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
      background-color: #300;
      background-size: 100px 100px;
      // background #F0F2F4
      color #fff
      padding 5px 10px
      text-align center
      cursor pointer
      &:hover
        background-color: #389
        // background #66CDAA
        color #ffffff
  .aboutContent
    color: #fff
    width 100%;
    box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    border-radius 0.25rem
    padding 10px
    box-sizing border-box
    background-color:silver;
    background-color: #026873;
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
    .colors
      .midnightblue
        color midnightblue
        background-color midnightblue
      .blue
        color blue
        background-color blue
      .deepskyblue
        color deepskyblue
        background-color deepskyblue
      .cornflowerblues
        color cornflowerblue
        background-color cornflowerblue
      .lightskyblue
        color lightskyblue
        background-color lightskyblue
        height 21px
      li
        height 21px
        &:hover
          color #ffffff
    ul
      padding 0
      margin 0
      list-style none
      line-height 21px
      img
        width 16px
        height 16px
        margin 0 5px
      li
        // background #F0F2F4
        padding 0 5px
        margin-bottom 5px
        display: flex;
        align-items: center;
        &:last-child
          margin 0